<div class="csv-import">
    <ng-csv-import content="csv.content"
    header="true"
    separator="','"
    result="csv.result"></ng-csv-import>
</div>

<div>
    <!-- <md-button ng-click="updateCourses()" class="md-raised md-primary">Update</md-button> -->
</div>


<div ng-show="csv">
    <h4>JSON</h4>
    <md-select ng-model="field" md-on-open="loadFields()" style="min-width: 200px;">
        <md-select-label>{{ field ? field.get('Name') : 'Choose a field' }}</md-select-label>
        <md-option ng-value="field" ng-repeat="field in fields">{{field.get('Name')}}</md-option>
    </md-select>
    <md-button ng-click="uploadCourses()" class="md-raised md-primary">Add</md-button>
    <pre>
        {{csv.result | json}}
    </pre>
</div>
