<div class="csv-import">
    <ng-csv-import content="csv.content"
    header="true"
    separator="','"
    result="csv.result"></ng-csv-import>
</div>

<div>
    <!-- <md-button ng-click="updateCourses()" class="md-raised md-primary">Update</md-button> -->
</div>


<div ng-show="csv">
    <h4>JSON</h4>
    <md-select ng-model="anthill" md-on-open="loadAnthill()" style="min-width: 200px;">
        <md-select-label>{{ anthill ? anthill.get('Name') : 'Select an anthill' }}</md-select-label>
        <md-option ng-value="anthill" ng-repeat="anthill in anthills">{{anthill.get('Name')}}</md-option>
    </md-select>
    <md-button ng-click="process()" class="md-raised md-primary">Add</md-button>
    <pre>
        {{csv.result | json}}
    </pre>
</div>
