<md-tabs class="md-primary">
    <md-tab id="courseList">
        <md-tab-label>List</md-tab-label>
        <md-tab-body class="md-padding">
            <md-list>
                <md-list-item ng-repeat="course in courseList" class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>{{user.name}}</h3>
                        <p>{{user.username}} - {{user.email}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-tab-body>
    </md-tab>
    <md-tab id="userCreate">
        <md-tab-label>Create</md-tab-label>
        <md-tab-body class="md-padding">
            <md-input-container flex>
                <label>Raw User Data</label>
                <textarea ng-model="$parent.rawUsers" columns="1"></textarea>
            </md-input-container>
            <md-button ng-click="createUsers()" class="md-raised md-primary">Create</md-button>
        </md-tab-body>
    </md-tab>
</md-tabs>
