<md-content class="md-padding" layout="row" layout-sm="column">
    <form ng-submit="login()">
        <md-input-container>
            <label>Username</label>
            <input ng-model="credentials.username" type="text">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="credentials.password" type="password">
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Login</md-button>
    </form>
</md-content>
