<section layout="row" layout-fill flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">StudHQ</h1>
        </md-toolbar>
        <md-content class="md-padding">
            <ul>
                <li><a ui-sref="app.users">Users</a></li>
                <li><a ui-sref="app.courses">Course</a></li>
            </ul>
            <md-button ng-click="logout()" class="md-raised md-primary">Logout</md-button>
        </md-content>
    </md-sidenav>
    <md-content flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{stateName}}</h2>
                <span flex></span>
                <h4>{{user.name}}</h4>
            </div>
        </md-toolbar>
        <div ui-view name="main"></div>
    </md-content>
</section>
